

<nb-card [nbSpinner]="disabled" nbSpinnerStatus="basic">
    <nb-card-header>
      Mark Topic
    </nb-card-header>
  
</nb-card>    

<table> 
  <tr>
      <td>Submission status</td>
      <td>Submitted for grading</td>
  </tr>
  <tr> <td>Grading Status </td>
       <td><input type="text" ></td>
       <td><input type="text" id="mark" placeholder="Submit Status"></td>  
       <td><button type="submit">Submit Mark</button></td> 
  </tr>
</table>



<h1>Comment</h1>
<div><input type="text" ></div>
<div><button type="submit">Submit</button></div>
